# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Kernel Binaries
*.clbin

/*build*/
/script/problems*
/problems/
/test_hermann/
/script/.idea/
/.idea/
/solvers/
/script/kernel/
/script/Summary.txt
/script/cachet
/script/minisat
/script/sharpSAT
/script/htd_main
/script/benchmarks
/Benchmarks
/libraries
/script/dynasp
/BenchmarkSets
/script/new_problems
/results/
/build_cygwin.cmd
/build_linux_d4.sh
/build_linux_double.sh
/build_mingw_d4.cmd
/build_mingw_double.cmd
/build_valgrind.sh
/build_visual.cmd
/result.ods
/run_benchmark.sh
/Summary.txt
/script/dsharp
/script/dynasp2
/script/lingeling-bbc
/script/preproc
/script/SatELite
/script/SatELite_v1.0_linux
/script/benchmarks_old
/script/Plots/
/script/gpusat_decomp/
/script/benchmarks*
/script/eval*
/script/result*
/script/Summary/
/script/Benchmarks_final/
/script/output/
/script/conan/
/script/decomp/
/script/gpusat_decomp/
/script/gpusat_decomp_counting/
/script/venv/
/script/venv1/